<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>type</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<h1>账单类型列表</h1>
	<a href="/api/index">返回首页</a><br/><br/>
	<div>
		<form action="">
			<table border="1">
				<thead>
					<tr>
						<th>类型ID</th>
						<th>类型code</th>
						<th>类型名称</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="t,iterStat:${typeList}">
						<td th:text="${t.id}">1</td>
						<td th:text=${t.typeCode}></td>
						<td th:text="${t.typeName}">交通</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>